.embla-carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


.carousel-wrapper {
    width: 50%;
    text-align: center;
}

.embla {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding: 10px;
}

.embla__slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: gray;
    cursor: pointer;
}

.dot.active {
    background: white;
}

.arrows button {
    background: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.projects-title{
    width: 100%;
    height: 10%;
    text-align: center;
}

.project-description{
    height: 70%;
    padding: 3%;
}

.project-description p{
    font-size: 1rem;
    margin-bottom: 20px;
}

.project-info {
    position: relative;
    height: 100%;
    width: 30%;
    margin-top: 20px;
    color: var(--secondary-color);
}

.project-info .carousel-links {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.project-info .carousel-links a {
    color: var(--secondary-color);
    transition: color 0.1s ease-in-out;
}

.project-info .carousel-links a:hover {
    color: var(--accent-color);
}

.project-tech{
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.project-tech p{
    width: 100%;
    text-align: center;
    font-style: italic;
}