/* ==================== RESET ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
}

.main, a, p, h1, h2, h3, h4, h5, h6, button {
    transition: all 0.2s ease-in-out;
}


/* ==================== THEME ==================== */
.main {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.main-theme-button {
    background: transparent;
    border: none;
    color: var(--secondary-color);
}

.main-theme-button:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 5px var(--accent-color));
}


/* ==================== SECTIONS ==================== */
.section {
    height: 100vh;
    width: 100%;
    display: flex;
    scroll-snap-align: start;
}

.projects,.career, .contact, .network, .graphic {
    padding: 10%;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.projects h1, .career h1, .contact h1, .skills h1, .dev h1, .network h1, .graphics h1{
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--secondary-color);
}

/* ==================== PRÉSENTATION - GAUCHE ==================== */
.left-side {
    width: 80%;
    height: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name {
    font-size: 3rem;
    font-weight: 600;
}

.title {
    font-size: 7rem;
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
}

.pfp {
    width: 10em;
    position: absolute;
    right: -12em;
    top: -6em;
    border-radius: 50%;
    transform: scaleX(-1);
    border: 2px solid var(--secondary-color);
}

.button-cv {
    width: 30%;
    margin: 60px 0 30px;
    padding: 15px 40px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent-color);
}

.button-cv:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--secondary-color);
}

.presentation {
    width: 90%;
    font-size: 1.4rem;
    font-weight: 400;
}


/* ==================== PRÉSENTATION - DROITE ==================== */
.right-side {
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sommaire-title {
    font-size: 2rem;
    margin-bottom: 25px;
}

.right-side-content {
    height: 28%;
    display: flex;
}

.vertical-line {
    height: 100%;
    width: 1px;
    background-color: var(--accent-color);
}

.links {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.links a {
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.links a:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 2px var(--accent-color));
}

/* ==================== COMPETENCES ==================== */

.skills, .dev, .networking, .graphics {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-summary-container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.skills-summary-container svg{
    fill: var(--accent-color);
    filter: drop-shadow(0 0 2px var(--accent-color));
    transition: all 0.2s ease-in-out;
}

.skills-summary-container svg:hover{
    fill: var(--secondary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));
    transform: rotate(10deg) scale(1.2);
}

.skills h2{
    height: 20%;
    width: 100%;
    text-align: center;

}

.development-skills-container, .networking-skills-container, .graphics-skills-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.skills ul{
    height: 60%;
    padding: 5%;
}

.skills li{
    margin-bottom: 10px;
    list-style-type: circle;
}

.skills a{
    width: 75%;
    padding: 2% ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px var(--accent-color);
}

.skills a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.1);
    box-shadow: 0 0 10px var(--secondary-color);
}


.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 5%;
}

.dev-text{
    width: 64%;
    margin-bottom: 10px;
}

.dev-row{
    margin-top: 20px;
    width: 65%;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.dev-element{
    border: 1px solid #252525;
    border-radius: 15px;
    padding: 30px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

.dev-element:hover{
    transform: matrix(1, 0.1, -0.1, 1, 0, 0);
}

.dev-element-header{
    height: 20%;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}
.dev-element-header p{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.dev-element-header svg{
    margin-right: 10px;
    fill: var(--accent-color);
    filter: drop-shadow(0 0 2px var(--accent-color));
    transition: all 0.2s ease-in-out;
}

.dev-element-header svg:hover{
    fill: var(--secondary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));
    transform: rotate(10deg);
}

.dev-element-content{
    height: 30%;
    display: flex;
    gap: 10px;
    padding: 15px;
    flex-wrap: wrap;
}

.dev-element-element{
    background-color: var(--accent-color);
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
}

.dev-element-element:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));

    transform: scale(1.1);
}

.marquee{
    width: 40%;
    height: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marquee-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 0 32px;
}

.marquee-content:hover{
    fill: var(--accent-color);
}

.network-content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.network-item {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 1 100px;
}

.network-item svg{
    filter: drop-shadow(0 0 2px var(--accent-color));
}

.network-item svg:hover {
    fill: var(--secondary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));
    transform: matrix(1, 0.1, -0.1, 1, 0, 0);
}

.network-item .icon {
    color: var(--accent-color);
    margin-top: 4px;
}

.graphics-container{
    margin-top: 5%;
    display: flex;
    gap:50px;
    width: 60%;
}

.graphic-left-side, .graphic-right-side {
    width: 50%;
}

.graphic-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:50px;
}

.graphic-block{
    width: 100%;
}

.graphic-block svg{
    margin-right: 20px;
    fill: var(--accent-color);
    filter: drop-shadow(0 0 2px var(--accent-color));
    transition: all 0.2s ease-in-out;
}

.graphic-block svg:hover{
    fill: var(--secondary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));
    transform: rotate(10deg) scale(1.2);
}

.graphic-block h2{
    width: 100%;
    margin-bottom: 20px;
}

.graphic-block p{
    width: 100%;
    margin-bottom: 30px;
}

.graphic-block ul{
    width: 100%;
    padding: 0 40px;
}

.graphic-block li{
    margin-bottom: 10px;
    list-style-type: circle;
}

/* ==================== RÉSEAUX SOCIAUX ==================== */
.social-links {
    width: 30%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.social-links a {
    color: var(--secondary-color);
}

.social-links a:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 2px var(--accent-color));
}


/* ==================== CONTACT ==================== */
.contact div {
    width: 30%;
    display: flex;
}

.mail-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

.mail-container p {
    font-size: 2rem;
    filter: drop-shadow(0 0 5px var(--secondary-color));
    transition: all 0.2s ease-in-out;
}

.mail-container p:hover{
    filter: drop-shadow(0 0 5px var(--accent-color));
}

.copy-notification {
    font-size: 1.2rem !important;
    margin-top: 10px;
    visibility: hidden;
    color: var(--accent-color);
}

.contact .social-links{
    width: 200px;
}

.contact svg{
    filter: drop-shadow(0 0 2px var(--secondary-color));
    transition: all 0.2s ease-in-out;
}

.contact svg:hover{
    filter: drop-shadow(0 0 2px var(--accent-color));
}

/* ==================== PARCOURS ==================== */
.career-info {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.career-info h2 {
    text-align: center;
}

.career-info p {
    margin-bottom: 20px;
}


/* ==================== COMPORTEMENTS GÉNÉRAUX ==================== */
.zp-anim {
    transition: transform 0.2s;
    width: fit-content;
}

.zp-anim:hover {
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}


/* ==================== BOUTON POPUP ==================== */
.popup-button {
    margin-top: 50px;
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    filter: drop-shadow(0 0 5px var(--accent-color));
}

.popup-button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    filter: drop-shadow(0 0 5px var(--secondary-color));
}


/* ==================== RESPONSIVE ==================== */
@media (min-width: 2000px) {
    .section {
        padding: 5%;
    }
}

