nav {
    position: fixed;
    left: 0;
    top: 38%;
    display: flex;
    flex-direction: row; /* par défaut, mais on précise */
    align-items: center;
    gap: 10px;

    width: 7%;
    height: 200px;
    padding-left: 1%;

    z-index: 99;
}

/* assure une largeur visible à la ligne verticale */
nav .vertical-line {
    width: 2px;
    height: 100%;
    background-color: var(--accent-color);
}

/* assure la colonne des liens */
.nav-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-links a{
    color: var(--secondary-color);
}

.nav-links a:hover{
    color: var(--accent-color);
    -webkit-filter: drop-shadow(0px 0px 2px var(--accent-color));
}

.nav-links button{
    width: fit-content;
}

.nav-links button:hover{
    color: var(--accent-color);
    -webkit-filter: drop-shadow(0px 0px 2px var(--accent-color));
}