nav {
    position: fixed;
    left: 0;
    top: 40%;
    display: flex;
    flex-direction: row; /* par défaut, mais on précise */
    align-items: center;
    gap: 10px;

    width: 7%;
    height: 20%;
    padding-left: 1%;
}

/* assure une largeur visible à la ligne verticale */
nav .vertical-line {
    width: 2px;
    height: 100%;
    background-color: var(--accent-color);
}

/* assure la colonne des liens */
.nav-links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-links a{
    color: var(--secondary-color);
}
