:root{
  --primary-color: #151517;
  --secondary-color: #E3E3E3;
  --accent-color: #438256;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

.main{
  background-color: var(--primary-color);
  color : var(--secondary-color);
}

.section{
    height: 100vh;
    width: 100%;
    /*padding: 0 10%;*/

    display: flex;
}

.left-side{
    width: 70%;
    height: 100%;
    padding-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.right-side{
    width: 30%;
    height: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right-side-content{
    height: 35%;
    display: flex;
}

.vertical-line{
    height: 100%;
    width: 1px;
    background-color: var(--accent-color);
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-left: 10px;
}

.sommaire-title{
    font-size: 3rem;
    color: var(--secondary-color);
    margin-bottom: 25px;
}

.links a{
    font-size: 1.6rem;
    color: var(--secondary-color);
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-left: 10px;
}

.links p:hover{
    color: var(--accent-color);
}

.name{
    font-size: 3rem;
    font-weight: 600;
    color: var(--secondary-color);
}

.title{
    font-size: 4.5rem;
    color: var(--secondary-color);
    font-weight: bold;
}

.button-cv{
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    padding: 15px 40px;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: bold;
}

.presentation{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--secondary-color);
    width: 90%;
}