:root{
  --primary-color: #2a2a2c;
  --secondary-color: #E3E3E3;
  --accent-color: #438256;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-color: var(--primary-color);
  color : var(--secondary-color);


  height: 100vh;
  width: 100%;

  display: flex;
}


.left-side{
  width: 70%;
  height: 100%;
  padding-left: 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.right-side{
  width: 30%;
  height: 100%;
  padding: 20px;

  display: flex;
  align-items: center;
}

.right-side-content{
  height: 40%;

  display: flex;
}

.vertical-line{
  height: 100%;
  width: 1px;
  background-color: var(--accent-color);
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  margin-left: 10px;
}